@keyframes showBackdrop{
	0%{
		opacity: 0;

	}
	100%{
		opacity: 1;
	}
}

@keyframes showModal{
	0%{
		opacity: 0;
		transform: translateY(-500px);
	}
	
	100%{
		opacity: 1;
		transform: translateY(0px);
	}

}

.backdrop{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	
	transition: all 0.3s;
	animation: showBackdrop 0.3s ease-out;
	z-index: 1;
}
.modal{	
	background: #ffffff;
	min-width: 400px;
	min-height: 300px;

	transition: all 0.3s;
	animation: showModal 0.3s ease-out;
}

.modal-header{
	padding: 10px 20px;
	border-bottom: 1px solid rgb(219 219 219);
}

.modal-header h3{
	margin: 0;
	font-size: 20px;
	text-align: center;
	text-transform: uppercase;
	color: #2F4F4F;
}

.modal-body{
	padding: 10px 20px 10px 0;
}

.backdrop-hide{
	opacity: 0;
}

.backdrop-hide .modal{
	opacity: 0;
	transform: translateY(-500px);
}

.input-form{
	margin: 15px 40px;
	text-align: center;
}

.input-form input{
	padding: 10px;
	width: 100%;
	font-size: 16px;
}

.button__main-inner{
	margin-left: 40px;
	margin-bottom: 10px;
}
.submit a{
	text-decoration: none;
	font-size: 15px;
	margin-left: 40px;
	color: black;
	display: block;
	padding: 10px 0px;
	
}