.header__block{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   background-color: bisque;
   border: 1px solid bisque;
   border-radius: 15px;


}
.links{
   text-decoration: none;
   color: rgb(109, 59, 59);
   font-size: 18px;
   line-height: 1.3em;
   font-weight: 700;

}
